.PageContainer {
    padding: 3rem 3rem;
    background-color: white;
}

h1,
h2,
h3 {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000000A6;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.GridContainer {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
}

.StatsContainer {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.StatsCard {
    flex-basis: 220px;
    flex-grow: 1;
    margin: 10px 10px;
    justify-content: space-around;
    padding: 18px;
    background-color: white;
    height: 160px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .04), 0px 6px 16px rgba(0, 0, 0, .12);
}

.WidgetContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ProgressBars {
    padding: 2px 6px;
}

.DetailedContainer {
    margin: 10px 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .04), 0px 6px 16px rgba(0, 0, 0, .12);
    grid-row-start: 3;
    grid-row-end: 8;
}

.DetailedCard {
    padding: 18px;
}

.DetailedCard ul {
    margin-top: 8px;
    list-style-type: none;
}

.DetailedCard li {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: #000000A6;
}

