
/* FOR READ ONLY ROW */


/* FOR WRITE ONLY ROW */
.save_change {
    color: var(--primary-blue);
    background-color: transparent;
    font-size: 15px;
}

.inRowForm {
    background-color: pink;
}

.input-field {
    padding-top: 2px;
}

